.button {
  a {
    display: block;
    min-width: 176px;
    height: 56px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 56px !important;
    text-align: center !important;
    text-transform: capitalize !important;
    background-color: $lochmara !important;
  }
}
