include ../variables.pug

include /footer/footer.pug
include /header/header.pug
include /heading/heading.pug

mjml

  include /head/head.pug

  mj-body(width='600px' css-class='body')

    +header()
    +heading()
    +footer()