mj-head
  mj-title careex
  mj-font(
    name='Roboto'
    href='https://fonts.googleapis.com/css?family=Roboto:400,500')/
  mj-attributes
    mj-all(font-family='Roboto, sans-serif')/
    mj-section(padding='0')/
    mj-image(padding='0')/
    mj-text(padding='0', line-height='1.3')/
    include mj-class.pug

  mj-style(inline='inline')
    include ../css/main-inline.css
  mj-style
    include ../css/media.css
