.footer {
  @extend %container;
  min-height: 128px !important;
  background-color: $elephant !important;

  &__spacer {
    padding-top: 16px !important;
  }

  &__text {
    p,
    a {
      color: $whiteSmoke !important;
    }

    p {
      margin: 0 !important;
      padding-bottom: 8px !important;
      font-size: 12px !important;
      line-height: 130% !important;
      text-align: center;
    }
  }
}
