include /social/social.pug
include /spacer/spacer.pug

mixin footer()

  - const className = 'footer'

  mj-section(css-class=className)

    mj-column(width='100%')

      +spacer({cssClass: className + '__spacer'})

      +social(['facebook', 'instagram', 'pinterest', 'dribbble'])

      +spacer({cssClass: className + '__spacer'})

    mj-column(width='100%')

      mj-text(css-class=className + '__text')
        p
          | You can 
          a(href='#0') update your preferences
          |  or 
          a(href='#0') unsubscribe
          |  from this list

      mj-text(css-class=className + '__text')
        p Copyright © All rights reserved.