mj-head

  mj-title careex

  mj-font(
    name='Roboto'
    href='https://fonts.googleapis.com/css?family=Roboto:400,500')

  mj-attributes

    mj-all(font-family='Roboto, sans-serif')
    mj-section(padding='0')
    mj-image(padding='0')
    mj-text(padding='0')
    include mj-class.pug

  mj-style(inline='inline')
    include ../../../tmp/styles/main.css

  mj-style
    include ../../../tmp/styles/media.css
